@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Major+Mono+Display&display=swap");

body {
  margin: 0px !important;
}
.title {
  font-family: "Major Mono Display", monospace;
}

.text,
p {
  font-family: "Google Sans Code", monospace;
  margin: 0;
}

.bg-blu {
  background-color: #262b3e;
}

.sup-c {
  background-color: #f5dd14;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.photo {
  width: 80%;
  border: 1px solid black;
  border-radius: 6px;
}

.cardP {
  border: 1px solid white;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subtitleP {
  font-size: 12px;
  color: white;
  text-align: justify;
  margin-top: 4px;
}

a:visited,
a {
  color: black;
  cursor: pointer;
}
.badgeP {
  font-size: 12px;
  margin-top: 4px;
}
